<html>
    <head>
        <link href="assets/instruction.css" rel="stylesheet" type="text/css">
        <title>5-in-a-Row Game</title>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Game Instructions</h1>
        <p>How to play</p>
        <p class= "how">Go to the game tab and enter the player names. The ball color will be assigned to you automatically. Use the drop buttons to choose a place on the board. Good luck!</p>
        <p>About game</p> 
        <p class= "about">Connect Five is a board game for two players which take turns in placing red and blue balls on the board. Each players' goal is to create an unbroken row of five balls horizontally, vertically, or diagonally.</p>
    </body>
</html>